.project-0 { transition-delay: 0ms !important; }
.project-1 { transition-delay: 50ms !important; }
.project-2 { transition-delay: 100ms !important; }
.project-3 { transition-delay: 150ms !important; }
.project-4 { transition-delay: 200ms !important; }
.project-5 { transition-delay: 250ms !important; }
.project-6 { transition-delay: 300ms !important; }
.project-7 { transition-delay: 350ms !important; }
.project-8 { transition-delay: 400ms !important; }
.project-9 { transition-delay: 450ms !important; }
.project-10 { transition-delay: 500ms !important; }
.project-11 { transition-delay: 550ms !important; }
.project-12 { transition-delay: 600ms !important; }
.project-13 { transition-delay: 650ms !important; }
.project-14 { transition-delay: 700ms !important; }
.project-15 { transition-delay: 750ms !important; }
.project-16 { transition-delay: 800ms !important; }
.project-17 { transition-delay: 850ms !important; }
.project-18 { transition-delay: 900ms !important; }
.project-19 { transition-delay: 950ms !important; }
.project-20 { transition-delay: 1000ms !important; }
.project-21 { transition-delay: 1050ms !important; }
.project-22 { transition-delay: 1100ms !important; }
.project-23 { transition-delay: 1150ms !important; }
.project-24 { transition-delay: 1200ms !important; }
.project-25 { transition-delay: 1250ms !important; }
.project-26 { transition-delay: 1300ms !important; }
.project-27 { transition-delay: 1350ms !important; }
.project-28 { transition-delay: 1400ms !important; }
.project-29 { transition-delay: 1450ms !important; }
.project-30 { transition-delay: 1500ms !important; }
.project-31 { transition-delay: 1550ms !important; }
.project-32 { transition-delay: 1600ms !important; }
.project-33 { transition-delay: 1650ms !important; }
.project-34 { transition-delay: 1700ms !important; }
.project-35 { transition-delay: 1750ms !important; }
.project-36 { transition-delay: 1800ms !important; }
.project-37 { transition-delay: 1850ms !important; }
.project-38 { transition-delay: 1900ms !important; }
.project-39 { transition-delay: 1950ms !important; }
.project-40 { transition-delay: 2000ms !important; }
.project-41 { transition-delay: 2050ms !important; }
.project-42 { transition-delay: 2100ms !important; }
.project-43 { transition-delay: 2150ms !important; }
.project-44 { transition-delay: 2200ms !important; }
.project-45 { transition-delay: 2250ms !important; }
.project-46 { transition-delay: 2300ms !important; }
.project-47 { transition-delay: 2350ms !important; }
.project-48 { transition-delay: 2400ms !important; }
.project-49 { transition-delay: 2450ms !important; }
.project-50 { transition-delay: 2500ms !important; }
.project-51 { transition-delay: 2550ms !important; }
.project-52 { transition-delay: 2600ms !important; }
.project-53 { transition-delay: 2650ms !important; }
.project-54 { transition-delay: 2700ms !important; }
.project-55 { transition-delay: 2750ms !important; }
.project-56 { transition-delay: 2800ms !important; }
.project-57 { transition-delay: 2850ms !important; }
.project-58 { transition-delay: 2900ms !important; }
.project-59 { transition-delay: 2950ms !important; }
.project-60 { transition-delay: 3000ms !important; }