* {
    font-family: "CNViolette", "Baloo 2", ".AppleSystemUIFont", -apple-system, system-ui, sans-serif;
    transition: all 500ms;
}

html, body {
    margin: 0;
    background: #111;
    color: white;
}

.uni-foreground-title-alt {
    z-index: 1;
    font-weight: normal;
    line-height: 48px;
    font-size: 48px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    margin: 20px auto 0;
    width: max-content;
    backdrop-filter: blur(20px);
    background: rgba(17, 17, 17, .25);
    padding: 10px 30px;
    border-radius: 999px;
}

.alt-titles-container {
    text-align: center;
}

h1.title-visible {
    opacity: 1 !important;
    transition: opacity 500ms !important;
}

h1.title-hidden {
    opacity: 0 !important;
    transition: opacity 500ms !important;
}

#box-skip {
    height: 25vh;
}