#box-1-background {
    background-image: url("/assets/bg.jpg");
    background-size: cover;
    background-position: center;
}

#uni-foreground {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

#box-1-background-cover {
    background-color: rgba(0, 0, 0, .5);
    height: 100vh;
    width: 100vw;
}

#box-1.visible #box-1-background {
    opacity: 1;
}

#uni-foreground.visible {
    opacity: 1;
}

#uni-foreground-content-avatar {
    opacity: 0;
    border-radius: 999px;
    width: 128px;
    height: 128px;
    position: relative;
    z-index: 5;
}

#uni-foreground-content-avatar-decoration {
    border-radius: 999px;
    width: 160px;
    position: absolute;
    filter: blur(25px);
    z-index: 2;
    opacity: 0;
    margin-left: -16px;
    margin-top: -16px;
}

#uni-foreground-content-title {
    opacity: 0;
    font-weight: normal;
    margin: 40px 0 0;
    line-height: 48px;
    font-size: 48px;
}

.visible #uni-foreground-content-avatar {
    transition-delay: 1000ms;
    opacity: 1;
}

.visible #uni-foreground-content-title {
    transition-delay: 1500ms;
    position: relative;
    opacity: 1;
}

.visible #uni-foreground-content-avatar-decoration {
    transition: opacity 2000ms;
    transition-delay: 2000ms;
    opacity: 1;
    animation-name: avatar-decoration;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes avatar-decoration {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}