.box {
    height: 100vh;
    width: 100vw;
}

.box-background {
    width: 100vw;
    height: 100vh;
    background: #111;
    z-index: 0;
    opacity: 0;
}

.uni-foreground {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 10;
    position: relative;
    top: -100vh;
    opacity: 0;
}

.scroll-animated {
    transition: none !important;
}